<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- ********************** CAMERA CONSTANTS *********************************  -->
    <xacro:property name="camera_height" value="0.04" />
    <xacro:property name="camera_width" value="0.02" />
    <xacro:property name="camera_thick" value="0.01" />
    <xacro:property name="camera_x" value="0.12" />
    <xacro:property name="camera_y" value="0.02" />
    <xacro:property name="camera_z" value="0.064" />

    <!-- ********************** Physical Characteristics *********************************  -->
    <joint name="camera_joint" type="fixed">
        <parent link="body_link"/>
        <child link="camera"/>
        <origin xyz="${camera_x} ${camera_y} ${camera_z}" rpy="0 0 0"/>
    </joint>

    <link name="camera">
        <visual>
            <origin xyz="${camera_x - .1} ${camera_y} ${camera_z -.072}" rpy="0 0 0" />
            <geometry>
                <box size="${camera_thick} ${camera_width} ${camera_height}" />
            </geometry>
            <material name="Green" />
        </visual>
    </link>

    <!-- ********************** Gazebo Characteristics *********************************  -->
    <gazebo reference="camera">
        <material>Gazebo/Green</material>

        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>camera/image_raw</topic>
            <gz_frame_id>camera_rgb_frame</gz_frame_id>
            <camera>
                <camera_info_topic>camera/camera_info</camera_info_topic>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>

<!--
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>camera</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>camera</frameName>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
-->
            
        </sensor>
    </gazebo>

</robot>