<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">

            
            <!-- Number of wheel pairs -->
            <num_wheel_pairs>3</num_wheel_pairs>

            <!-- Wheel Information -->
            <left_joint>rear_left_wheel_joint</left_joint>
            <right_joint>rear_right_wheel_joint</right_joint>
            <wheel_separation>0.15</wheel_separation>
            <wheel_radius>0.035</wheel_radius>

            <left_joint>middle_left_wheel_joint</left_joint>
            <right_joint>middle_right_wheel_joint</right_joint>
            <wheel_separation>0.15</wheel_separation>
            <wheel_radius>0.035</wheel_radius>

            <left_joint>front_left_wheel_joint</left_joint>
            <right_joint>front_right_wheel_joint</right_joint>
            <wheel_separation>0.15</wheel_separation>
            <wheel_radius>0.035</wheel_radius>

            <!-- Limits -->
            <max_linear_acceleration>0.33</max_linear_acceleration>
            <max_wheel_torque>20</max_wheel_torque>

            <!-- Input -->
            <topic>cmd_vel</topic>

            <!-- Output -->
            <frame_id>odom</frame_id>
            <child_frame_id>body_link</child_frame_id>
            <odom_topic>odom</odom_topic>
            <odom_publish_frequency>30</odom_publish_frequency>
            <tf_topic>/tf</tf_topic>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>


        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <update_rate>50</update_rate>
            <joint_name>rear_left_wheel_joint</joint_name>
            <joint_name>rear_right_wheel_joint</joint_name>
            <joint_name>middle_left_wheel_joint</joint_name>
            <joint_name>middle_right_wheel_joint</joint_name>
            <joint_name>front_left_wheel_joint</joint_name>
            <joint_name>front_right_wheel_joint</joint_name>
        </plugin>


    </gazebo>


</robot>