<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- ********************** LIDAR CONSTANTS *********************************  -->
    <xacro:property name="lidar_x" value="0.04" />
    <xacro:property name="lidar_y" value="0.0" />
    <xacro:property name="lidar_z" value="0.04" />
    <xacro:property name="lidar_rad" value="0.035" />
    <xacro:property name="lidar_ht" value="0.02" />

    <!-- ********************** Physical Characteristics *********************************  -->
    <joint name="lidar_joint" type="fixed">
        <parent link="body_link"/>
        <child link="lidar"/>
        <origin xyz="${lidar_x} ${lidar_y} ${lidar_z +.05}" rpy="0 0 0"/>
    </joint>

    <link name="lidar">       
        <visual>
            <origin xyz="${lidar_x} ${lidar_y} ${lidar_z -.05}" rpy="0 0 0" />
            <geometry>
                <cylinder radius="${lidar_rad}" length="${lidar_ht}"/>
            </geometry>
            <material name="Blue" />
        </visual>

        <collision>
            <origin xyz="${lidar_x} ${lidar_y} ${lidar_z - .05}" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${lidar_rad}" length="${lidar_ht}"/>
            </geometry>
        </collision>

        <xacro:inertial_cylinder mass="0.1" length="${lidar_ht}" radius="${lidar_rad}">
            <origin xyz="${lidar_x} ${lidar_y} ${lidar_z - .05}" rpy="0 0 0" />
        </xacro:inertial_cylinder>
    </link>

    <!-- ********************** Gazebo Characteristics *********************************  -->
    <gazebo reference="lidar">
        <material>Gazebo/Blue</material>

        <sensor name="lidar" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>scan</topic>
            <gz_frame_id>base_scan</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.001</stddev>
                </noise>
            </lidar>

            
 <!--
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <namespace>/</namespace>
                    <remapping>~/out:=scan</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>lidar</frame_name>
            </plugin>
-->
            
        </sensor>
    </gazebo>

</robot>